body
{

  background:#3d3d3d;
  font-family: 'Open Sans', sans-serif;
}

*
{
  transition: 1s;
}

.toolbar
{
  width:100%;
  text-align: center;
}


h1
{
  padding:10px 10px 0px 20px;
  font-size:1.5em;
}


.mapCol:hover
{
  border:1px solid black;
}

.mapCol.active
{
    background:#1a386c;
    opacity:1;
    border: 2px solid #182f57;
}



.widget
{
  width:320px;
  height:200px;
  background-color: white;
  position:fixed;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  padding-left:10px;
}


.beacon
{
  box-sizing: border-box;
  width:250px;
  height:250px;
  text-align: center;
  padding-top:100px;
  border:5px solid white;
  border-radius: 300px;
  margin-left:-90px;
  margin-top:-82px;
  opacity:0.2;
  color:white;
  background-color:rgba(255,255,255,0.1);
  font-weight:bold;
  position: absolute;
  animation: wifi 1s infinite;
  z-index:20;
}


.flag
{
  z-index: 9;
  box-sizing: border-box;
  width:250px;
  height:250px;
  text-align: center;
  padding-top:90px;
  border:5px solid  #571e17;
  border-radius: 300px;
  margin-left:-90px;
  margin-top:-82px;
  opacity:1;
  color:white;
  background-color:rgba(87,30,23,0.6);
  font-weight:bold;
  position: absolute;
  animation: alert 5s infinite;
  z-index:20;
}

.arrow
{
  background-image:url(../img/arrow.png);
  width:99px;
  z-index: 2;
  animation: warning 5s infinite;
  height:104px;
  top:-40px;
  left:30px;
  position: absolute;
}

.mapCol.warning
{
background-color:#b71c1c;

}

.mapCol
{
  height:90px;
  border:2px solid #1a1a1a;
  background:#1c1c1c;
}

.edit .mapCol
{
  border:1px dotted black;
}

.container
{
  padding-top:5vh;
}

@-webkit-keyframes warning {
    0% {    margin-top:0px;}
    50% {    margin-top:5px;}
    100% {    margin-top:0px;}
}

@-webkit-keyframes wifi {
    0% {   opacity:0.3;}
    50% {    opacity:0.6;}
    100% {    opacity:0.3;}
}

@-webkit-keyframes alert {
    0% {   opacity:0.8;}
    50% {    opacity:1;}
    100% {    opacity:0.8;}
}
